* {
    font-family: Arial, Helvetica, sans-serif;
}

body h1{
    color: rgb(19, 227, 255);
    font-size: 80px;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.678);
    border: 2px solid rgb(19, 227, 255);
    border-radius: 5px;
    padding: 0 10px;
    width: fit-content;
}

p, td {
    color: rgb(199, 199, 199);
    font-size: 18px;
}

h2, th {
    color: rgb(19, 227, 255);
}

.bodyConfig {
    background-color: rgb(255, 255, 255);
}

.aboutMeTextBox {
    background-color: rgba(0, 0, 0, 0.678);
    border: 2px solid rgb(19, 227, 255);
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
    width: fit-content;
}

#crabRave {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

table {
    border: 2px solid rgb(0, 0, 0);
}

td {
    border: .1px solid black;
    padding: 5px;
}

.skillSection {
    width: fit-content;
    margin: 0 auto;
    position: relative;
}

#skillBox {
    background-color: rgba(0, 0, 0, 0.678);
    height: 300px;
    width:fit-content;
    border: 2px solid rgb(19, 227, 255);
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    margin: 0 auto;
    
}

#education {
    background-color: rgba(0, 0, 0, 0.678);
    height: 300px;
    width:fit-content;
    border: 2px solid rgb(19, 227, 255);
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    margin: 0 auto;
    
}

#education h1 {
    text-align: center;
    font-size: 35px;
}

#certifications {
    background-color: rgba(0, 0, 0, 0.678);
    height: 300px;
    width:fit-content;
    border: 2px solid rgb(19, 227, 255);
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    margin: 0 auto;
}

#certifications h1 {
    text-align: center;
    font-size: 35px;
}